<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841973188601-1tihq8pigp0k2oub820rcs1onij1s0a1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841973188601-1tihq8pigp0k2oub820rcs1onij1s0a1</string>
	<key>API_KEY</key>
	<string>AIzaSyBBykvmvrV75v3kBuNz0LepUpVQdS7Gn44</string>
	<key>GCM_SENDER_ID</key>
	<string>841973188601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieQuotesFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-movie-quotes-3dd45</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-movie-quotes-3dd45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841973188601:ios:8a5cee87dac9459d6b5f28</string>
</dict>
</plist>